spring:
  datasource:
    url: "jdbc:h2:mem://localhost/~/shopping"
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create

  properties:
    hibernate:
      show_sql: true
      format_sql: true

  logging.level:
    org.hibernate.SQL: debug

  h2:
    console:
      enabled: true
      path: /h2-console


server:
  servlet:
    encoding:
      force: true